.container {
    display:flex;
    flex-flow: column;
    align-items: center;
}

table {
    border-collapse: collapse;
}

td {
    border: 2px;
    border-color: black;
    border-style: solid;
    font-size: 50px;
    padding: 30px;
}

.td-left {
    border-left: white;
}

.td-top {
    border-top: white;
}

.td-right {
    border-right: white;
}

.td-bottom {
    border-bottom: white;
}
