.container {
    display:flex;
    flex-flow: column;
    align-items: center;
}

td {
    border: 2px;
    border-color: black;
    border-style: solid;
    font-size: 50px;
    padding: 30px;
}

.td1 {
    border-left: white;
    border-top: white;
}

.td2 {
    border-top: white;
}

.td3 {
    border-top: white;
    border-right: white;
}

.td4 {
    border-left: white;
}

.td6 {
    border-right: white;
}

.td7 {
    border-left: white;
    border-bottom: white;
}

.td8 {
    border-bottom: white;
}

.td9 {
    border-bottom: white;
    border-right: white;
}

